.comboTreeWrapper{
    position: relative;
    text-align: left !important;
}

.comboTreeInputWrapper{
    position: relative;
}

.comboTreeArrowBtn {
    position: absolute;
    right: 1px;
    bottom: 1px;
    top: 1px;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid #c7c7c7;
    border-radius: 0 3px 3px 0;
}

.comboTreeDropDownContainer {
    display: none;
    background: #fff;
    border: 1px solid #aaa;
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}

.comboTreeDropDownContainer ul{
    padding: 0px;
    margin: 0;
}

.comboTreeDropDownContainer li{
    list-style-type: none;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}

.comboTreeDropDownContainer li:hover{
    background-color: #ddd;}
.comboTreeDropDownContainer li:hover ul{
    background-color: #fff;}
.comboTreeDropDownContainer li span.comboTreeItemTitle.comboTreeItemHover{
    background-color: #418EFF;
    color: #fff;}

span.comboTreeItemTitle{
    display: block;
    padding: 2px 4px;
}
.comboTreeDropDownContainer label{
    cursor: pointer;
    width: 100%;
    display: block;
}
.comboTreeDropDownContainer .comboTreeItemTitle input {
    position: relative;
    top: 2px;
    margin: 0px 4px 0px 0px;
}
.comboTreeParentPlus{
    position: absolute;
    left: 0;
    top: 4px;
    width: 14px;
    height: 14px;
    color: #6b7280;
    line-height: 0;
}


.comboTreeInputBox {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #999;
    width: 100%;
    box-sizing: border-box;
    padding-right: 24px;
}

.comboTreeArrowBtnImg{
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
}

.multiplesFilter{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999;
}

.mdi-chevron-down-circle-outline,
.mdi-chevron-right-circle-outline,
.mdi-chevron-down {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    background: none;
}
.mdi-chevron-down-circle-outline::after,
.mdi-chevron-right-circle-outline::after,
.mdi-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
}
.mdi-chevron-down-circle-outline::after,
.mdi-chevron-down::after {
    transform: rotate(45deg);
    left: 3px;
    top: 2px;
}
.mdi-chevron-right-circle-outline::after {
    transform: rotate(-45deg);
    left: 2px;
    top: 3px;
}
